body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background-color: #333;
}

.icons {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.icons:hover {
    transform: scale(1.1);
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #4caf50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form {
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

input[type="text"],
select {
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #4caf50;
    background-color: #444;
    color: #fff;
}

input[type="submit"] {
    padding: 15px 30px;
    background-color: #4caf50;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

section {
    text-align: center;
    transition: transform 0.3s;
}

.error-message {
    color: #ff6b6b;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#supported {
    text-align: center;
    margin-top: 150px;
    transition: transform 0.3s;
}

#supported a {
    color: #4caf50;
    text-decoration: none;
    transition: color 0.3s;
}

#supported a:hover {
    color: #45a049;
    text-decoration: underline;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #1e1e1e;
}

body::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
    border: 3px solid #1e1e1e;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

a:link,
a:visited {
    color: #4caf50;
    transition: color 0.3s;
}
