body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}
header {
    background-color: #262626;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
}
h1 {
    margin: 0;
    font-size: 2.5rem;
    transition: all 0.3s ease;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    transition: all 0.3s ease;
}
section {
    margin-bottom: 20px;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
    transition: all 0.3s ease;
}
strong {
    color: #4caf50;
    transition: all 0.3s ease;
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    main {
        padding: 10px;
    }
    header {
        padding: 10px;
    }
}
body::-webkit-scrollbar {
    width: 16px;
    transition: all 0.3s ease;
}
body::-webkit-scrollbar-track {
    background: #1a1a1a;
    transition: all 0.3s ease;
}
body::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 6px;
    border: 3px solid #1a1a1a;
    transition: all 0.3s ease;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}