<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>MetalSlugFontReborn Results</title>
    <link rel="stylesheet" href="/static/css/minified/results.min.css"/>
    <link rel="icon" href="/static/assets/icons/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/static/manifest.json" />
    <script src="/static/js/minified/redirect.min.js"defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1e1e1e"/>
    <meta name="description" content="A tool for creating images with the Metal Slug font.">
    <meta name="keywords" content="Metal Slug, Metal Slug Font, Metal Slug Font Reborn">
    <meta name="author" content="VermeilChan, SikroxMemer">
    <meta property="og:title" content="MetalSlugFontReborn Results">
    <meta property="og:description" content="A tool for creating images with the Metal Slug font.">
    <meta property="og:image" content="/static/assets/icons/logo.png">
    <meta property="og:url" content="https://vermeil.pythonanywhere.com/results">
</head>
<body>
    <div class="container">
        <h1>Result</h1>

        {% if output %}
            <img id="image" src="{{ output }}" alt="Image"/>
            <button id="download_button">
                <a href="{{ output }}" download>Download</a>
            </button>
        {% else %}
            <p>No results were found. Please return to the <a href="/">home page</a>.</p>
        {% endif %}
    </div>
</body>
</html>
