body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: 'Arial' ,sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.github {
  background-color: var(--github-color);
  border-radius: 50%;
  transition: transform 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  margin: var(--github-margin);
  padding: var(--github-padding);
  z-index: 1;
}
.github:hover {
  transform: scale(1.1);
}
:root {
  --github-color: #333;
  --github-margin: 10px;
  --github-padding: 5px;
}
.header-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}
h1 {
  text-align: center;
  font-size: 36px;
}
form {
  text-align: center;
  margin-bottom: 20px;
}
input[type="text"],
select {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
}
input[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
section {
  text-align: center;
}
.error-message {
  color: #ff6b6b;
}
#supported {
  text-align: center;
  margin-top: 150px;
}
#supported a {
  color: #4caf50;
}
#supported a:hover {
  text-decoration: underline;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: #1e1e1e;
}
body::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 6px;
  border: 3px solid #1e1e1e;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
a:link {
  color: #4caf50;
}
a:visited {
  color: #4caf50;
}
