body {
    background-color: #1e1e1e;
    color: #fff;
    font-family: 'Arial' ,sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 36px;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
section {
    margin-bottom: 20px;
}
h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
strong {
    color: #4caf50;
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    main {
        padding: 10px;
    }
    header {
        padding: 10px;
    }
}
body::-webkit-scrollbar {
    width: 16px;
}
body::-webkit-scrollbar-track {
    background: #1e1e1e;
}
body::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
    border: 3px solid #1e1e1e;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}